  <table class="table" style="max-width: 95%;">
    <thead>
      <th>Paciente</th>
      <th>Status</th>
      <th>Valor(diferença)</th>
      <th>Pedido enviado em</th>
      <th>Último contato em</th>
      <th>Data do follow</th>
    </thead>
    <tbody>
      <tr *ngFor="let patient of patients">
        <td>{{patient.Name}}</td>
        <!-- <td>{{patient.Adresses.City}}, {{patient.Adresses.State}}</td> -->
        <td>
          1ª
        </td>
        <td>
          1ª
        </td>
        <td>
          1ª
        </td>
        <td>
          1ª
        </td>
        <td>
          1ª
        </td>
      </tr>
    </tbody>
  </table>
