<h3>Cadastro de Funcionarios</h3>

<form (ngSubmit)="create(patients)">
    <div class="from-group">
        <label>Nome</label>
        <input type="text" name="Nome" [(ngModel)]="patients.Nome" class="from-control">
    </div>
    <div class="from-group">
        <label>CPF</label>
        <input type="text" name="CPF" [(ngModel)]="patients.CPF" class="from-control">
    </div>
    <div *ngFor="let error of errors">
        <label>{{error}}</label>
    </div>
    <button type="submit" class="btn btn-primary">Gravar</button>
</form>