@import "src/assets/scss/simple.scss";

$filter-card-margin-bottom: 37px;
$filter-card-margin-left: 37px;
$filter-card-font-title: 16px;
$filter-card-font-line-height: 19px;

$filter-card-tile-margin-bottom: 6px;

$input-background: $white;
$input-border: 1px solid $gray-blue-light;
$input-box-sizing: border-box;
$input-border-radius: 4px;
$input-color: $blue-dark;
$input-min-width: 215px;
$input-min-height: 47px;
$input-seach: $text-color;
$input-seach-border: 1px solid $gray;
$input-text-padding-left: 21px;

:host {
  min-height: 100%;
  height: 100%;
  max-width: 1078px;
  overflow-x: visible;
}

.users-container {
  margin-left: 34px;

  .filter-card {
    margin-left: $filter-card-margin-left;
    margin-bottom: $filter-card-margin-bottom;
    font-size: $filter-card-font-title;
    line-height: $filter-card-font-line-height;
    min-width: $input-min-width;
    padding: 0px;

    .filter-itens-desc {
      min-height: $input-min-height;
      position: relative;
      padding: 0;
      margin: 0;
      border: 0;

      .autocomplete {
        min-height: $input-min-height;
        background: $input-background;
        border: $input-border;
        box-sizing: $input-box-sizing;
        border-radius: $input-border-radius;
        padding-left: $input-text-padding-left;
        width: 100%;

        color: $input-color;
        min-width: $input-min-width;
      }
    }

    .filter-card-title {
      margin-bottom: $filter-card-tile-margin-bottom;
    }
  }
}
.filter-button {
  margin-left: $filter-card-margin-left;
  margin-bottom: $filter-card-margin-bottom;
  font-size: $filter-card-font-title;
  line-height: $filter-card-font-line-height;
  min-width: $btn-min-width;
  padding: 0px;
}

.icons {
  display: inline;
  color: $input-color;
  margin: auto;
  position: relative;
  top: 5px;
  left: 8px;
  border-radius: 50%;

  &:hover {
    cursor: pointer;
    color: $text-color;
    background-color: $blue-dark;
  }
}
.icons-container {
  position: absolute;
  top: 6px;
  right: 0px;
  width: 35px;
  height: 35px;
  overflow: hidden;
}

.padding-left-10 {
  padding-left: 10px;
}
