<div class="menu-toggle" (click)="toggle.emit()">
  <div class="menu-toggle__inner">
    <i class="material-icons">menu</i>
  </div>
</div>
<div class="menus-container" *ngIf="isSidebarOpen">
  <div class="menus" *ngIf="authService.userData as user">
    <div class="photo-container" [routerLink]="['/user']">
      <div class="photo"></div>
    </div>
    <div class="user-desc" routerLinkActive="user-desc--active">
      <span class="user-desc-span">{{(user.displayName) ? user.displayName : 'n/D'}} </span>
      <i class="menu-item-icon material-icons material-icons-arrow"
        routerLinkActive="menu-item-icon material-icons material-icons-arrow--active">keyboard_arrow_down</i>
    </div>
    <div class="user-desc-info">
      <p class="user-desc-info-item">Minha agenda</p>
      <p class="user-desc-info-item">Alterar senha</p>
    </div>
  </div>
  <div class="menus" *ngIf="!authService.isLoggedIn">
    <div class="menu-item" [routerLink]="['/home']" routerLinkActive="menu-item--active">
      <i class="menu-item-icon material-icons">home</i>
      <span class="menu-item-desc">Home</span>
    </div>
    <div class="menu-item" [routerLink]="['/login']" routerLinkActive="menu-item--active">
      <i class="menu-item-icon material-icons">input</i>
      <span class="menu-item-desc">login</span>
    </div>
    <div class="menu-item" [routerLink]="['/register']" routerLinkActive="menu-item--active">
      <i class="menu-item-icon material-icons">group_add</i>
      <span class="menu-item-desc">Registar</span>
    </div>
  </div>
  <div *ngIf="authService.isLoggedIn">
    <div class="menus">
      <div class="menu-item" [routerLink]="['/dashboard']" routerLinkActive="menu-item--active">
        <i class="menu-item-icon material-icons">dashboard</i>
        <span class="menu-item-desc">Dashboard</span>
      </div>
      <div class="menu-item" [routerLink]="['/patients']" routerLinkActive="menu-item--active">
        <i class="menu-item-icon material-icons">message</i>
        <span class="menu-item-desc">Pacientes</span>
      </div>
      <div class="menu-item" [routerLink]="['/therapist']" routerLinkActive="menu-item--active">
        <i class="menu-item-icon material-icons">assignment</i>
        <span class="menu-item-desc">Terapeutas</span>
      </div>
      <div class="menu-item" [routerLink]="['/des']" routerLinkActive="menu-item--active">
        <i class="menu-item-icon material-icons">people</i>
        <span class="menu-item-desc">Desempenho</span>
      </div>
      <div class="menu-item" [routerLink]="['/ref']" routerLinkActive="menu-item--active">
        <i class="menu-item-icon material-icons">message</i>
        <span class="menu-item-desc">Relatórios</span>
        <i class="menu-item-icon material-icons material-icons-arrow"
          routerLinkActive="menu-item-icon material-icons material-icons-arrow--active">keyboard_arrow_down</i>
      </div>
    </div>
    <div class="menu-settings">
      <div class="menu-settings-info">
        Configurações
      </div>
      <div class="menu-item" [routerLink]="['/generalregistration']" routerLinkActive="menu-item--active">
        <i class="menu-item-icon material-icons">assignment</i>
        <span class="menu-item-desc">Cadastros gerais</span>
      </div>
      <div class="menu-item" [routerLink]="['/generalsettings']" routerLinkActive="menu-item--active">
        <i class="menu-item-icon material-icons">settings</i>
        <span class="menu-item-desc">Config. gerais</span>
      </div>
      <div class="menu-item" [routerLink]="['/notifications']" routerLinkActive="menu-item--active">
        <i class="menu-item-icon material-icons">notifications</i>
        <span class="menu-item-desc">Notificações</span>
      </div>
      <div class="menu-item" (click)="logout()">
        <i class="menu-item-icon material-icons">power_settings_new</i>
        <span class="menu-item-desc">Sair</span>
      </div>
    </div>
  </div>

  <div class="version-container">
    <div class="version">
      <span class="version__text-normal padding--right">Versão </span>
      <span class="version__text-bold">0.1</span>
    </div>
  </div>

</div>