//@import "src/assets/scss/simple.scss";
@import "src/styles.scss";

$sidebar-width: 52px;
$sidebar-width-expanded: 255px;
$sidebar-bg: $body-bg;
$menu-toggle-size: 30px;
$menu-toggle-bg: white;
$header-height: 50px;
$icon-color: rgba(0, 0, 0, 0.87);

:host {
  display: flex;
  flex-direction: column;
  width: $sidebar-width;
  height: 100%;
  transition: width 0.5s ease;
  box-shadow: 1px 0px 1px #e5e5e5;
  background: $sidebar-bg;
  position: relative;

  &.--open {
    width: $sidebar-width-expanded;
  }
}

.menu-toggle {
  -webkit-app-region: no-drag;

  &__inner {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    width: $menu-toggle-size;
    height: $menu-toggle-size;
    background-color: $menu-toggle-bg;
    color: $icon-color;
    border-radius: $menu-toggle-size;
    box-shadow: 5px 0px 6px rgba(0, 0, 0, 0.16);

    position: absolute;
    top: $header-height/2 - $menu-toggle-size/2;
    right: -$menu-toggle-size/2;
    z-index: 900;

    > .material-icons {
      font-size: 1.1em;
    }
  }

  &--active,
  &:hover {
    color: $component-active-color;
    border-color: white;
    background-color: $component-active-bg-color;
    border-radius: 4px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);

    i,
    span {
      color: $component-active-color;
    }
  }
}

.photo-container {
  width: 40px;
  height: 40px;
  margin-top: 40px;
  margin-left: 16px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
  flex: 0 0 auto;
  outline: none;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
}

.photo {
  flex: 1 0 auto;
  background-size: 100%;
  width: auto;
  height: 100%;
  margin-left: -25%;
  margin-right: -25%;
}

.user-desc {
  outline: none;
  height: 100%;
  display: flex;
  flex-direction: row;
  color: $text-color;
  width: 239px;
  height: 100%;
  text-align: left;
  flex: 0 0 auto;
  text-transform: capitalize;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.15px;
  padding: 0 5px 0 18px;
  margin-top: 26px;

  span {
    height: 100%;
    width: 183px;
    padding-top: 0px;
    font-size: 20px;
  }

  &--active,
  &:hover {
    color: $component-active-color;
    border-color: white;
    background-color: $component-active-bg-color;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);

    i,
    span {
      color: $component-active-color;
    }
    .material-icons-arrow {
      color: $icon-color;
    }
  }
}
.user-desc-span {
  margin-top: 5px;
  padding: 3px;
  height: 35px;
  width: 183px;
}

.user-desc-info {
  margin-top: 8px;
  margin-left: 24px;
  display: none;
  &--active {
    display: flex;
  }
}

.user-desc-info-item {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex: 0 0 auto;
  font-size: 14px;
  color: $text-color;
  cursor: pointer;
  margin-bottom: 10px;
  padding: 0.25em;

  &:hover {
    color: $component-active-color;
    border-color: white;
    background-color: $component-active-bg-color;
    border-radius: 4px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    span {
      color: $component-active-color;
    }
  }
}

.menus-container {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
}

.menus {
  padding: 0.3em 0.5em;
  width: $sidebar-width-expanded;
  margin: 0 auto;
  box-shadow: 0px 1px 1px #e5e5e5;
}

.menus-settings {
  padding: 0 0.5em;
  width: $sidebar-width-expanded;
  margin: 0 auto;
}

.menu-settings-info {
  margin-left: 16px;
  margin-bottom: 27px;
  margin-top: 16px;
  letter-spacing: 0.25px;
  color: #9e9e9e;
}

.menu-item {
  outline: none;
  width: 239px;
  height: 40px;
  display: flex;
  color: $text-color;
  align-items: center;
  cursor: pointer;
  transition: none 0.25s ease;
  justify-content: center;
  flex: 0 0 auto;
  text-transform: capitalize;
  margin-bottom: 10px;
  flex-direction: row;
  padding: 0.25em;

  &--active,
  &:hover {
    color: $component-active-color;
    border-color: white;
    background-color: $component-active-bg-color;
    border-radius: 4px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);

    i,
    span {
      color: $component-active-color;
    }
    .material-icons-arrow {
      color: $icon-color;
    }
  }
}
.menu-item-icon {
  margin-left: 11px;
  font-size: 35px;
}

.menu-item-desc {
  flex: 1;
  text-align: left;
  margin-left: 35px;
}

.material-icons {
  color: rgba(0, 0, 0, 0.54);
}

.material-icons-arrow {
  color: $icon-color;
  margin: auto;
  &--active,
  &:hover {
    color: $icon-color !important;
  }
}

.version-container {
  width: 100%;
}

.version {
  padding: 1rem;
  width: $sidebar-width-expanded;
  margin: 0 auto;
  text-align: center;

  &__text-normal {
    color: $text-color;
  }

  &__text-bold {
    color: $text-color;
    font-weight: 600;
  }
}

.padding {
  &--left {
    padding-left: 0.5em;
  }

  &--right {
    padding-right: 0.5em;
  }
}
