<div class="header">
    <i class="material-icons" style="margin-left: 55px;">arrow_left</i>
    <div class="header-title">
        Pipeline
    </div>
</div>
<div class="filter-container">
    <div class="filter-row">
        <div class="filter-column">
            <div class="filter-left">
                <div class="row padding-left-10">
                    <div class="col-xs-2 filter-card">
                        <div class="filter-card-title">Responsável comercial</div>
                        <div class="filter-itens-desc">
                            <input class="autocomplete" type="text" value="Amanda">
                            <div class="icons-container">
                                <i class="material-icons icons">keyboard_arrow_down</i>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2 filter-card">
                        <div class="filter-card-title">Responsável financeiro</div>
                        <div class="filter-itens-desc">
                            <input class="autocomplete" type="text" value="Amil">
                            <div class="icons-container">
                                <i class="material-icons icons">keyboard_arrow_down</i>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2 filter-card">
                        <div class="filter-card-title">Tem plano?</div>
                        <div class="filter-itens-desc">
                            <input class="autocomplete" type="text" value="Sim">
                            <div class="icons-container">
                                <i class="material-icons icons">keyboard_arrow_down</i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row padding-left-10">
                    <div class="col-xs-2 filter-card">
                        <div class="filter-card-title">Tem liminar?</div>
                        <div class="filter-itens-desc">
                            <input class="autocomplete" type="text" value="Sim">
                            <div class="icons-container">
                                <i class="material-icons icons">keyboard_arrow_down</i>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2 filter-card">
                        <div class="filter-card-title">Estado</div>
                        <div class="filter-itens-desc">
                            <input class="autocomplete" type="text" value="São Paulo">
                            <div class="icons-container">
                                <i class="material-icons icons">keyboard_arrow_down</i>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2 filter-card">
                        <div class="filter-card-title">Cidade</div>
                        <div class="filter-itens-desc">
                            <input class="autocomplete" type="text" value="Campinas">
                            <div class="icons-container">
                                <i class="material-icons icons">keyboard_arrow_down</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="filter-center"></div>
            <div class="filter-right">
                <div class="row">
                    <div class="col-xs-4 filter-card">
                        <div class="filter-card-title">Status</div>
                        <div class="filter-itens-desc">
                            <input class="autocomplete" type="text" value="Todos">
                            <div class="icons-container">
                                <i class="material-icons icons">keyboard_arrow_down</i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 filter-card">
                        <div class="filter-card-title">Tempo sem contato</div>
                        <div class="filter-itens-desc">
                            <input class="autocomplete" type="text" value="5 dias">
                            <div class="icons-container">
                                <i class="material-icons icons">keyboard_arrow_down</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="filter-bottom">
        <div class="row padding-left-10">
            <div class="col-xs-2 filter-card" style="margin-bottom: 0px;">
                <div class="filter-card-title">Sênior</div>
                <div class="filter-itens-desc">
                    <input class="autocomplete" type="text" value="Júlia">
                    <div class="icons-container">
                        <i class="material-icons icons">keyboard_arrow_down</i>
                    </div>
                </div>
            </div>
            <div class="col-xs-8 filter-seach">
                <div class="filter-seach-itens-desc">
                    <input class="filter-seach-input" type="text"
                        placeholder="Busque por nome do paciente, número do telefone, e-mail, CPF dos pais, etc">
                    <div class="icons-container">
                        <i class="material-icons icons" style="color: black;">search</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <app-list-patients></app-list-patients>
        </div>
    </div>
    <div style="visibility:hidden;">
        <button class="bnt btn-primary" routerLink="/pacientes/create" routerLinkActive="active">New Patients</button>
    </div>
</div>