<div class="displayTable">
    <div class="displayTableCell">

        <div class="authBlock">
            <h3>Obrigado por se registar</h3>

            <div *ngIf="authService.userData as user" class="formGroup" >
                <p class="text-center">Enviámos um email de confirmação para <strong>{{user.email}}</strong>.</p>
                <p class="text-center">Verifique seu e-mail e clique no link para verificar seu endereço de e-mail.</p>
            </div>

            <!-- Calling SendVerificationMail() method using authService Api -->
            <div class="formGroup">
                <button type="button" class="btn btnPrimary" (click)="authService.SendVerificationMail()">
                    <i class="fas fa-redo-alt"></i>
                    Reenviar email de verificação
                </button>
            </div>

        </div>

        <div *ngIf="!authService.isLoggedIn" class="redirectToLogin">
            <span>Logar?<span class="redirect" routerLink="/login"> Entrar</span></span>
        </div>

    </div>
</div>