//@import "src/assets/scss/simple.scss";
@import "src/styles.scss";

:host {
  min-height: 100%;
  height: 100%;
  overflow-x: visible;
}

.template {
  display: flex;
  min-height: 100%;
}

.template-main {
  @extend .template;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: $body-bg;

  &__sidebar {
    display: flex;
    user-select: none;
    z-index: 10;
  }

  &__container {
    flex: 1 1 0;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $gray-lighter;
  }
}
