<div class="edit-container">
    <h1>Cadastro de Usuarios</h1>
    <div class="grid">
        <div class="row">
            <div class="col-xs-10 col-sm-5 col-md-5 col-lg-5 edit-card">
                <div class="edit-card-title">Nome</div>
                <div class="edit-itens-desc">
                    <input id="editNome" class="text-edit" type="text" placeholder="nome do usuário"
                        style="width: 100%;">
                </div>
            </div>
            <div class="col-xs-10 col-sm-5 col-md-5 col-lg-5 edit-card">
                <div class="edit-card-title">E-mail</div>
                <div class="edit-itens-desc">
                    <input id="editNome" class="text-edit" type="text" placeholder="E-mail do usuário"
                        style="width: 100%;">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-sm-5 col-md-5 col-lg-2 edit-card">
                <div class="edit-card-title">CPF</div>
                <div class="edit-itens-desc">
                    <input id="editNome" class="text-edit" type="text" placeholder="CPF do usuário">
                </div>
            </div>
            <div class="col-xs-10 col-sm-5 col-md-5 col-lg-2 edit-card">
                <div class="edit-card-title">Telefone</div>
                <div class="edit-itens-desc">
                    <input id="editNome" class="text-edit" type="text" placeholder="telefone do usuário">
                </div>
            </div>
            <div class="col-xs-10 col-sm-6 col-md-6 col-lg-3 edit-card">
                <div class="edit-card-title">Perfil de acesso</div>
                <div class="edit-itens-desc">
                    <input id="editNome" class="text-edit" type="text" placeholder="Perfil de acesso do usuário">
                    <div class="icons-container">
                        <i class="material-icons icons">keyboard_arrow_down</i>
                    </div>
                </div>
            </div>
            <div class="col-xs-1 edit-card">
                <div class="edit-card-title">Ativo</div>
                <div class="edit-itens-desc">
                    <input id="editNome" class="checkbox" type="checkbox" value="false">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-11">
                <div class="row end-xs">
                    <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
                        <button class="btn btn-success">Salvar</button>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
                        <button class="btn btn-danger">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>